body, html{
    height: 100%;
    margin: 0;
    font: 500 15px/1.8 "Lato", sans-serif;
    color:#777;
    background-color: #001f44;
    }
    nav{
        width: 100%;
        background: #00316b;
        margin-top: -1.5em;
    }
    nav ul{
        width: 80%;
        margin: 0 auto;
        padding: 0;
        text-align: right;
    }
    nav ul li {
        list-style: none;
        padding: 20px;
        display: inline-block;
    }
    nav ul li:hover{
        background:#008CBA;
    }
    nav ul li a{
        color:#fff;
        text-decoration: none;
        font-size: 16px;
    }
    nav ul li i {
        font-size: 50px;
        color: #fff;
    }                  
    .diary {
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    }
    .diary i {
        display : none;  
    }
    .diary .navbar-brand {
        float: left;
       height: 50px;
       padding: 35px 15px;
       font-size: 25px;
       line-height: 20px;
       color: #fff;
       text-decoration: none;
    }
    .story {
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0;
        margin-top: 50px;
        margin-bottom: 50px;
        background: #ffffff;
        width: 75%;
      }
      #story__date {
        color: #000;
        font-size: 16px;
        margin-left: 5px;
        padding-left: 50px;
      }
      .story__title {
        color: #333;
        font-weight: bold;
        font-size: 35px;
        margin-top: 5px;
        padding-left: 50px;
      }
      .story__content {
        font-size: 25px;
        line-height: 1.8em;
        padding: 0 50px;
      }
      .story__toolbar {
        position: relative;
        height: 60px;
        padding: 0 50px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
     
      


     @media (max-width: 768px){
            body{
              overflow-x: hidden;
            }
             nav{
            margin-top: 0px;
          }
            .diary i{
              display: block;
            }
            .diary .navbar-brand {
              float: left;
              height: 50px;
              padding: 5px 15px;
              font-size: 18px;
              line-height: 20px;
              color: #fff;
              text-decoration:none;
              }
            nav ul {
              width: 100%;
              display: none;
              position: absolute;
              z-index: 10;
              background: #00316b;
              }
             nav ul li{
                display: block;
                text-align: center;
          
              }
              .active{
                display: block;
              }
             nav i{
                cursor: pointer;
              }
              .icon {
                margin-top: 3px;
              }
              .story {
                width: 100%;
              }
    



        }
         